<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEZ3tQz6htaCiRvHSpAQOoYNloYr2qB84</string>
	<key>GCM_SENDER_ID</key>
	<string>847597326478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bfa.pushNotificationV1httpapi</string>
	<key>PROJECT_ID</key>
	<string>notification-v1-http-api</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-v1-http-api.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847597326478:ios:f4d5ba9bd312a62921f9df</string>
</dict>
</plist>